<!-- <p>todo-item works!</p> -->



<td>
    <h5 [ngClass]="{'strike':!todo.active}">{{todo.title}}</h5>
</td>
<td>
    <p [ngClass]="{'strike':!todo.active}">{{todo.desc}}</p>
</td>
<td>
    
        <input type="checkbox" class="form-check-input" id="todo{{i}}" (click)="onCheckBoxClick(todo)"
            [checked]="!todo.active">
        <!-- <label class="form-check-label" for="todo{{i}}">Completed</label> -->
   
</td>
<td><button class="btn btn-danger btn-sm " (click)="onClick(todo)">Delete</button></td>