<!-- <p>about works!</p> -->

<div class="container-fluid p-5">
  <div class="container p-5">
    <div class="card m-4 text-center fw-bolder">
      <div class="card-header bg-info text-white">
        WELOCME TO ABOUT US PAGE
      </div>
      <div class="card-body bg-info-subtle">
        <h5 class="card-title text-info fw-bolder ">To Do App Using Angular.js</h5>
        <p class="card-text p-5">This app helps the user to add their daily task which can be related to office and home so that they will never forget to complete any task.</p>
        <a href="#" class="btn btn-outline-info fw-bolder">Check It Out</a>
      </div>
    </div>
  </div>
</div>